<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
    <style>
        h1 {
            text-align: center;
        }
        #center {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .box {
            background-color: {{color}};
            height: 200px;
            width: 200px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome!</h1>
    <div id="center">
        {% for i in range(number): %}
        <div class = "box"></div>
        {% endfor %}
    </div>
</body>
</html>