.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}
.side-nav {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-right: 20px;
}
.main {
    display: inline-block;
    vertical-align: top;
    padding: 13px;
    height: 400px;
    width: 700px;
    background-color: red;
}
.sub-content {
    display: inline-block;
    margin: 0px 10px 0px 0px;
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    margin-top:20px;
    background-color: purple;
}


