.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.col, .col-2, .col-3 {
    color: white;
    background-color: darkcyan;
    padding: 20px;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col {
    flex: 3;
}