<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <p>{{session['count']}} time(s)</p>
    <div>
        <a href="/" id='plus1'>Click</a>
        <a href="/2" id='plus2'>Add Two</a>
        <a href="/destroy_session" id='reset'>Reset</a>
    </div>
    <form action="/specify" method="post">
        <input type="text" name='increment'>
        <button type="submit">Increment</button>
    </form>
</body>
</html>