* {
    font-family: 'Roboto', sans-serif;
    color: white;
}
.nav {
    display: flex;
    padding: 0px 20px;
    background-color: darkslategray;
    align-items: center;
    justify-content: space-between;
}
.nav-left {
    display: flex;
}
.nav-links {
    display: flex;
    align-items: center; 
    list-style: none;
    gap: 2em;
}
a {
    text-decoration: none;  
}
.active {
    font-weight: bold;
}
.btn {
    background-color: darkcyan;
    padding: 4px 10px;
    border: solid black;
    box-shadow: 2px 2px black;
}  

